@model QTCoffeeSlotMachine.AspMvc.Models.Product

@{
    ViewData["Title"] = "Edit";
    SelectList machines = new SelectList(Model.SlotMachines, nameof(Model.Id), nameof(Model.Location));
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />

@if (string.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SlotMachineId" class="control-label"></label>
                @Html.DropDownListFor(m => m.SlotMachineId, machines, null, new { @class="form-select"})
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" readonly="readonly" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
